@page "/widgets"
@inject HttpClient Http
@inject ISessionStorageService SessionService

<h3>Widgets</h3>
<TelerikGrid Data="@Model.CurrentPageData"
             @ref="Grid"
             OnRead="@ReadItems"
             TotalCount="@Model.TotalItemCount"
             PageSize="5"
             Pageable="true"
             Sortable="true"
             OnStateInit="@((GridStateEventArgs<Widget> args) => OnStateInit(args))"
             OnStateChanged="@((GridStateEventArgs<Widget> args) => OnStateChanged(args))"
             FilterMode="GridFilterMode.FilterMenu">
    <GridColumns>
        <GridColumn Field="@nameof(Widget.Name)" Title="Name" />
        <GridColumn Field="@nameof(Widget.Price)" Title="Price">
            <Template>
                @(String.Format("{0:C2}", (context as Widget).Price))
            </Template>
        </GridColumn>
        <GridColumn Field="@nameof(Widget.LastOrdered)" Title="Last Ordered" />
        <GridColumn Field="@nameof(Widget.Description)" Title="Description">
            <Template>
                @((context as Widget).Description.Substring(0, 100))
            </Template>
        </GridColumn>
    </GridColumns>
</TelerikGrid>


@code {
    private string stateStorageKey = "WidgetGridState";
    private TelerikGrid<Widget> Grid { get; set; }
    private DataEnvelope<Widget> Model { get; set; } = new DataEnvelope<Widget>();

    // Original code read in all items into grid - saving state works with this approach
    //protected async override Task OnInitializedAsync()
    //{
    //    widgets = await Http.GetFromJsonAsync<List<Widget>>("/api/Widget/GetWidgets");
    //}

    private async Task OnStateInit(GridStateEventArgs<Widget> args)
    {
        try
        {
            var state = await SessionService.GetItemAsync<GridState<Widget>>(stateStorageKey);
            if (state != null)
            {
                args.GridState = state;
            }
        }
        catch (InvalidOperationException)
        {
            // the JS Interop for the local storage cannot be used during pre-rendering
        }
    }

    private async Task OnStateChanged(GridStateEventArgs<Widget> args)
    {
        var gridState = Grid.GetState();
        await SessionService.SetItemAsync(stateStorageKey, gridState);
    }

    // When attempting to read in only what's needed, the saving/restoring state does not work 
    // The grid shows that it is on the last page viewed, but the data is from page 1
    protected async Task ReadItems(GridReadEventArgs args)
    {
        var response = await Http.PostAsJsonAsync("api/Widget/GetPagedWidgets", args.Request);
        if (response.IsSuccessStatusCode)
        {
            Model = await response.Content.ReadFromJsonAsync<DataEnvelope<Widget>>();
        }

        StateHasChanged();
    }
}